* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: center;
    background-color: rgb(93, 31, 90);
}

.slider {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 590px;
    /* overflow-x: hidden;
    scroll-behavior: smooth; */
    overflow: hidden;
}
.slides {
    display: flex;

    width: 400%;
    height: 100%;
    /* left: 50%; */
    /* max-width: 650px; */
    /* height: 590px; */
    /* margin: 0 20px; */

}

/* .slider>div {
    scroll-snap-align: start;
} */


.slide {
    width: 25%;
    transition: all 0.4s ease;
    /* max-width: 650px; */
    /* height: 100%; */
    /* flex-shrink: 0;
    scroll-snap-type: x mandatory; */
}

.slide img {
    width: 100%;
    position: relative;
    border: 2px solid rgb(223, 190, 99);
}

h3 {
    width: 75%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    padding-left: 2px;
}

.bottom-block {
    display: flex;
    height: auto;
    justify-content: space-between;
    /* align-items: center; */
}


/* @media (max-width: 620px) {
    .bottom-block {
        flex-direction: column-reverse;
        justify-content: left;
    }

    .dots {
        width: 100%;
        justify-content: center;
        margin-top: 12px;
    } */
/* } */


a {
    padding: 10px;
    /* background-color: yellowgreen; */
}


.buttons {
    display: flex;
    position: relative;
    top: -65px;
    right: 0;
}

.bar {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(223, 190, 99);
    cursor: pointer;
    margin: 10px;
    transition: all 0.4s ease;
}

.bar:hover {
    background: rgb(255, 255, 255);
}

/* #r1:checked ~ .d1,
#r2:checked ~ .d2,
#r3:checked ~ .d3,
#r4:checked ~ .d4 {
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
}  */


.s1  {
    margin-left: -75%;
        /* margin-left: -25%; */
}
#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}
#r3:checked ~ .s1 {
    margin-left: -50%;
}
#r4:checked ~ .s1 {
    margin-left: -75%;
}





input {
    position: fixed;
    visibility: hidden;
    }


  