* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: rgb(93, 31, 90);
    
}

.slider {
    max-width: 100%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    border: 2px solid rgb(223, 190, 99);
}

h3 {
    width: 65%;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}

.bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots {
    display: flex;
    width: 25%;
    justify-content: space-between;
    list-style: none;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(223, 190, 99);
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
}

.dot:hover {
    background: rgb(255, 255, 255);
}

.dot-active {
    background: rgba(165, 127, 21, 0);
    border: 1px solid white;
}